@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */

img,
object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  background: #fefefe;
}
.text1 {
	font-size: 15px;
	line-height: 25px;
}


.container {
  width: 80%;
	margin: 0px 60px 0px 60px;
  min-height: 318px;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}

.topspace {
  margin-top: 150px;
 }

.topspace2 {
	margin-top: 50px;
}


@media only screen and (min-width: 600px) {
	.topspace {
	     margin-top:170px;
	  }
		h1 {
		  font-size: 30px;
		  font-weight: 450;
		}
		h2 {
			font-size: 1em;
		}
		.topspace2 {
			margin-top: 40px;
		}
}
@media only screen and (max-width: 600px) {
	.topspace {
	     margin-top: -30px;
	  }
		h1 {
		  font-size: 25px;
		  font-weight: 450;
		}
		h2 {
			font-size: 1em;
		}
		.topspace2 {
			margin-top: 40px;
		}
}
.container{
	max-width: 100%!important;
	margin: 0!important;
	padding: 0!important;
}
.footer-main {
	float: left;
	width: 100%;
}
.copyright-main {
	border-top: 1px solid #212124;
}
.copyright-main {
	float: left;
	width: 100%;
	background: #1a1a1c;
	padding: 22px 0;
}
.special-bottom-footer {
	border-top: 1px solid #212124;
}

.special-bottom-footer {
	width: 100%;
	float: left;
	background-color: #212124;
	padding: 20px 0;
}
.foottop{
	margin: 0!important;
	float: left;
	width: 100%;
	padding: 24px 70px;
	color: #fff;
}
.foottop h6{
	font-size: 17px;
	font-weight: 500;
}
.leftAling{
	text-align: left;
}
.rightAling{
	text-align: right;
}

.bg{
	background: #fff;
}
.bg > div:first-child{
	width: 100%!important
}
.footer_section{
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	z-index: -999;
	background: #183c56;
}
.footerActive{
	position: relative!important;
}
.footer_top{
	margin: 0!important;
	border-bottom: 2px solid #fff;
	padding: 20px 0;
}
.footer_section .main{
	padding: 0px 100px;
}
.footer_section .button_s{
	width: 83%;
	text-align: right;
	margin-top: 5px;
}
.footer_section .button_s button{
	background: #0e81dc;
	border: 0;
	border-radius: 5px;
	padding: 10px 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	outline: none;
}
.footer_bottom{
	padding: 15px 0;
	margin: 0!important;
}
.fb{
	width: 100%;
	display: flex;
	color: #fff;
	margin-top: 10px;
}
.fb .menu span{
	padding: 0 10px;
  font-size: 14px;
  border-right: 2px solid;
}
.pd_0{
	padding-left: 0!important;
}
.br{
	border: 0!important
}
.footer_bottom .cot{
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.footer_bottom .copyry{
	width: 60%;
	font-size: 13.5px;
	text-align: center;
	margin-top: 5px;
}
.footer_bottom .icon{
	width: 23%;
	text-align: right;
}
.fb .icon span{
	font-size: 19px;
  font-weight: 800;
  padding-left: 23px;
}
body::-webkit-scrollbar {
	width: 0px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}