@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */

img,
object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  background: #fefefe;
}
.text1 {
	font-size: 15px;
	line-height: 25px;
}


.container {
  width: 80%;
	margin: 0px 60px 0px 60px;
  min-height: 318px;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}

.topspace {
  margin-top: 150px;
 }

.topspace2 {
	margin-top: 50px;
}


@media only screen and (min-width: 600px) {
	.topspace {
	     margin-top:170px;
	  }
		h1 {
		  font-size: 30px;
		  font-weight: 450;
		}
		h2 {
			font-size: 1em;
		}
		.topspace2 {
			margin-top: 40px;
		}
}
@media only screen and (max-width: 600px) {
	.topspace {
	     margin-top: -30px;
	  }
		h1 {
		  font-size: 25px;
		  font-weight: 450;
		}
		h2 {
			font-size: 1em;
		}
		.topspace2 {
			margin-top: 40px;
		}
}
.container{
	max-width: 100%!important;
	margin: 0!important;
	padding: 0!important;
}
.footer-main {
	float: left;
	width: 100%;
}
.copyright-main {
	border-top: 1px solid #212124;
}
.copyright-main {
	float: left;
	width: 100%;
	background: #1a1a1c;
	padding: 22px 0;
}
.special-bottom-footer {
	border-top: 1px solid #212124;
}

.special-bottom-footer {
	width: 100%;
	float: left;
	background-color: #212124;
	padding: 20px 0;
}
.foottop{
	margin: 0!important;
	float: left;
	width: 100%;
	padding: 24px 70px;
	color: #fff;
}
.foottop h6{
	font-size: 17px;
	font-weight: 500;
}
.leftAling{
	text-align: left;
}
.rightAling{
	text-align: right;
}

.bg{
	background: #fff;
}
.bg > div:first-child{
	width: 100%!important
}
.footer_section{
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	z-index: -999;
	background:#084371;
}
.footerActive{
	position: relative!important;
}
.footer_top{
	margin: 0!important;
	border-bottom: 2px solid #fff;
	padding: 20px 0;
}
.footer_section .main{
	padding: 0px 100px;
}
.footer_section .button_s{
	width: 83%;
	text-align: right;
	margin-top: 5px;
}
.footer_section .button_s button{
	background: #0e81dc;
	border: 0;
	border-radius: 5px;
	padding: 10px 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	outline: none;
}
.footer_bottom{
	padding: 15px 0;
	margin: 0!important;
}
.fb{
	width: 100%;
	display: flex;
	color: #fff;
	margin-top: 10px;
}
.fb .menu span{
	padding: 0 10px;
  font-size: 14px;
  border-right: 2px solid;
}
.pd_0{
	padding-left: 0!important;
}
.br{
	border: 0!important
}
.footer_bottom .cot{
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.footer_bottom .copyry{
	width: 60%;
	font-size: 13.5px;
	text-align: center;
	margin-top: 5px;
}
.footer_bottom .icon{
	width: 23%;
	text-align: right;
}
.fb .icon span{
	font-size: 19px;
  font-weight: 800;
  padding-left: 23px;
}
body::-webkit-scrollbar {
	width: 0px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}


/* Responcive for big screen */
@media (min-width: 2500px) {

	.navbar.navbar-dark.fixed-top.navbar-expand-md.scrolling-navbar {
		padding: 35px 150px;

	}
	.fixedimage, .footer_top img{
		width: 400px;
	}
	.bannerText {
		left: 150px;
	}
	.understand, .what, .technologies {
		padding: 250px 150px;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.nav-link {
		font-size: 25px;
	}
	.bannerText h4 {
		font-size: 80px;
		font-weight: 700;
	}
	.bannerText p {
		font-size: 60px;
		font-weight: 500;
	}
	.understand h1:after, .what h1:after, .technologies h1::after {
    content: "";
    background-color: #0f81dc;
    width: 200px;
    height: 9px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.understand h1, .what h1, .technologies h1 {
    font-size: 100px!important;
}
.dbt_heading_para {
    margin-top: 120px;
}
.dbt_heading_para p{
	font-size: 48px;
}
.image_chain3:hover, .image_chain1:hover, .image_chain2:hover{
    background: url(/static/media/Moniterhover.76e5a440.png);
    width: 400px;
	height: 400px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.image_chain2, .image_chain3, .image_chain1 {
    width: 400px;
	height: 400px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.dbt_image_chain .text {
	width: 460px;
	font-size: 40px;
}
.dbt_image {
    margin: 200px auto;
}
.cardsec {
    padding: 120px 0px;
}
.what .text h4 {
    font-size: 70px;
    margin: 29px 0 5px 0;
}
.what .text p {
    font-size: 45px;
    margin-top: 24px;
}
/* .leftDiv .imagetag img {
    width: 50%;
} */
.tabsection .imagetag img {
	width: 50%;
}
.textsection .imagetag img {
	width: 1800px;
	margin: 158px auto;
}
.tabsection {
    padding: 200px 30px;
}
.leftDiv h4, .rightDiv h4 {
    font-size: 55px;
    margin: 30px 0;
}
.rightDiv h4 {
    line-height: 72px;
}
.leftDiv p, .rightDiv p {
    font-size: 35px;
    line-height: 60px;
}
.read_Bnt button {
    border: 2px solid #0f81dc;
    font-size: 55px;
    padding: 10px 130px;
    border-radius: 15px;
}
.footer_bottom .cot {
    font-size: 30px;
}
.fb {
    margin-top: 20px;
}
.fb .menu span {
    padding: 0 10px;
    font-size: 25px;
    border-right: 3px solid;
}
.footer_bottom .copyry {
    width: 60%;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
.fb .icon span {
    font-size: 45px;
    font-weight: 800;
    padding-left: 78px;
}
.footer_section .button_s button {
    padding: 10px 75px;
    font-size: 30px;
}
.footer_section .button_s {
    margin-top: 30px;
}
.navbar.navbar-dark.top-nav-collapse .navbar-nav .nav-item .nav-link {
    font-size: 25px;
}
}

