.DS_STORE
node_modules
*~
build/
*.log*
.vscode
*.swp
package-lock.json
client/package-lock.json
config/AWSConfig.json
config/cognito_configuration.js
config/configuration_keys.js
config/oauth.json
config/player.json
avatars
