/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.headerimg{
	background: black;
	width: 100%;
	height: 500px;
	z-index: 1;
  display: flex;
	top: 0;

}

.nsf-img{
	width: 20%;
}

.row2 {
  display: flex;
	align-items: center;
	justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.left{
  float:left;
}
.right{
    float:right;
}
.understand{
  padding: 75px 70px;
  justify-content: center;
  text-align: center;
}
.understand h1{
  font-weight: 500;
  position: relative;
}
.understand h1:after {
  content: "";
  background-color: #0f81dc;
  width: 90px;
  height: 4px;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.dbt_heading_para {
  margin-top: 38px;
  color: #707070;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}
.dbt_image{
  display: flex;
  margin: 50px 0;
}
.dbt_image_chain {
  text-align: center;
  width: 190px;
  margin: auto;
}
/* .dbt_image_chain:after {
  content: "";
  position: absolute;
  width: 59%;
  height: 1px;
  border: 2px dashed #bbb;
  right: -30%;
  top: 30%;
} */