/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.headerimg{
	background: black;
	width: 100%;
	height: 500px;
	z-index: 1;
  display: flex;
	top: 0;

}

.nsf-img{
	width: 20%;
}

.row2 {
  display: flex;
	align-items: center;
	justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.left{
  float:left;
}
.right{
    float:right;
}
.understand, .what, .technologies{
  padding: 100px 70px;
  justify-content: center;
  text-align: center;
}
.understand h1, .what h1, .technologies h1{
  font-weight: 500;
  position: relative;
}
.understand h1:after, .what h1:after, .technologies h1::after{
  content: "";
  background-color: #0f81dc;
  width: 90px;
  height: 4px;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.dbt_heading_para {
  margin-top: 38px;
  color: #707070;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}
.dbt_image{
  display: flex;
  margin: 50px 0;
  position: relative;
}
.image_chain1{
  background: url(../../../src/img/Cloud_whitess.png);
  background-repeat: no-repeat;
  width: 190px;
  height: 190px;
}
.image_chain1:hover{
  background: url(../../../src/img/Cloud_white.png);
  background-repeat: no-repeat;
}
.image_chain2{
  background: url(../../../src/img/Analysis_White.png);
  background-repeat: no-repeat;
  width: 190px;
  height: 190px;
}
.image_chain2:hover{
  background: url(../../../src/img/Analysis.png);
  background-repeat: no-repeat;
  width: 190px;
  height: 190px;
}
.image_chain3{
  background: url(../../../src/img/Moniter_white.png);
  background-repeat: no-repeat;
  width: 190px;
  height: 190px;
}
.image_chain3:hover{
  background: url(../../../src/img/Moniterhover.png);
  background-repeat: no-repeat;
}
.dbt_image_chain {
  text-align: center;
  width: 190px;
  margin: auto;
  z-index: 1;
}
.dbt_image:after {
  content: "";
  position: absolute;
  width: 59%;
  height: 1px;
  border: 2px dashed #bbb;
  right: 21%;
  top: 30%;
}
.dbt_image_chain .text{
  width: 190px;
  height: 72px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
  margin-top: 25px;
}
.what{
  background: #f5f5f5;
  height: 100vh;
}
.cardsec{
  padding: 20px 65px;
  display: flex;
}
.leftCard{
  margin-right: 30px!important;
}
.rightCard{
  margin-left: 30px!important;
}
.leftCard, .rightCard
{
  margin: 45px 20px 45px 10px;
  width: 47%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(0,0,0,0.2);
  padding-bottom: 35px;
  padding-bottom: 20px;
}
.leftCard img, .rightCard img{
  width:100%;
}
.what .text h4{
  font-size: 21px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  color: #242424;
  font-family: roboto;
}
.what .text p{
  font-size: 15px;
    color: #848484;
    font-weight: 400;
}
.what .text{
  padding: 0px 5px;
}
.tabsection{
  padding: 60px 30px;
}
.tabsection .imagetag img{
 
}

.bannerArea{
  background: url(../../img/Banner1.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bannerText{
  position: absolute;
    width: 45%;
    color: #fff;
    top: 45%;
    left: 100px;
}
.bannerText h4{
  font-family: Roboto;
  font-size: 37px;
  font-weight: 600;
}
.bannerText p{
  font-size: 24px;
  font-family: Roboto;
  font-weight: 600;
  margin-top: 20px;
}
.textsection{
  margin-bottom: 25px;
}
.textsection .imagetag{
  text-align: -webkit-center;
}
.textsection img{
  
}
.textsection .head{
  display: flex;
}
.textsection .head img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.textsection .head span{
  font-size: 25px;
  font-family: Roboto;
  margin: 0 10px;
  font-weight: 800;
  color: #0F81DC;
}
.para p{
  text-align: left;
    font-size: 13px;
    font-family: roboto;
    color: #727272;
    font-weight: 400;
    line-height: 20px;
}
.para {
    margin: 10px 0;
}
.hd{
  color: #000;
}
.read_Bnt{
  text-align: center;
  width: 100%;
}
.read_Bnt button{
  background: transparent;
  outline: none;
  border: 1px solid #0f81dc;
  font-size: 18px;
  padding: 5px 50px;
  border-radius: 10px;
  color: #0f81dc;
  margin-top: 20px;
}
.read_Bnt button:hover{
  box-shadow: 0 0 1px 1px #0f81dc;
}

.downArrow{
	position: fixed;
	bottom: 2%;
	left: 50%;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.arrov{
background: url(../../img/down-arrow.png)
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #2ecc71;		
}
.leftDiv h4, .rightDiv h4{
  font-size: 22px;
  font-family: roboto;
  font-weight: 500;
  color: #242424;
  margin: 20px 0;
}
.rightDiv h4{
  line-height: 35px;
}
.leftDiv p{
  text-align: left;
  font-size: 15px;
  font-family: roboto;
  color: #727272;
  font-weight: 400;
  line-height: 25px;
}
.rightDiv p{
  text-align: right;
  font-size: 15px;
  font-family: roboto;
  color: #727272;
  font-weight: 400;
  line-height: 25px;
}
.leftDiv .text{
  text-align: left;
}
.rightDiv .text{
  text-align: right;
}
.leftDiv .imagetag img{
  width: 26%;
}
.rightDiv .imagetag{
  text-align: -webkit-right;
}
/* .first-component{
  padding-top: 45px;
  background: #084371!important;
  height: 100vh;
} */